---
import Layout from "@/layouts/Layout.astro";
import Piano from "@/components/piano/Piano.svelte";
---

<Layout title="Welcome to Astro.">
	<main class="h-full">
		<Piano client:load />
	</main>
</Layout>
